/** global element styling **/


* {
  margin: 0;
  padding: 0;

}

body {
  background-color: white;

}

#wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}


.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

.grid {
  display: flex;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;

}


.logo {
  width: 60vw;
}



.logo > img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 22px;
  width: 100%;
  height: 100%;
  max-width: 333px;

}

nav {
  font-weight: 350;
}



#howitworks > iframe {
    max-width: 566px;
    width: 100%;
  }
  
  #Pricing {
    margin-top: 66px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .prepare {

    width: calc(100% / 4);
    margin: 15px;
    border: 1px solid black;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
  }
  
  .prepare > .level {

    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    background-color: whitesmoke;
    color: black;

  }
  
  .prepare > h2 {
    margin-top: 15px;
  }
  
  .prepare > ol {
    margin: 15px 0;
  }
  
  .prepare > ol > li {
    padding: 5px 0;
  }
  
  .prepare > button {

    background-color: #f1c40f;
    font-weight: 400;
    border: 0;
    margin: 15px 0;

  }
  
  .prepare > button:hover {
    background-color: orange;
    transition: background-color 1s;
  }
  
  
  
  footer {
    margin-top: 30px;
    background-color:  whitesmoke;
    padding: 20px;
  }
  
  footer > ul {
    display: flex;
    justify-content: flex-end;
  }
  
  footer > ul > li {
    padding: 0 10px;
  }
  
  footer > span {
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
    margin-top: 5px;
    display: flex;
    
  }
  

nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#features {
  margin-top: 35px;
}

#features .icon {

    height: 155px;
    width: 20vw;
    color: rgba(255, 140, 0, 0.886);
  display: flex;
  align-items: center;
  justify-content: center;

}

#features .pes {
    height: 135px;
    width: 88vw;
    padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#howitworks {
  margin-top: 555px;
  display: flex;
  justify-content: center;
}
